<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="dashboardUser">

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-calendar fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Переглянути розклад роботи лікаря</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a th:href="@{/schedule}">Розклад</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">оберіть зручний час для запису на прийом</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-clock-o fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Список ваших візитів</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Візити</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">не пропустіть час наступного візиту до лікаря</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-id-card-o fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Перегляньте ваші дані</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Профіль</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">Тут ви можете повідомити про скарги, зберегти результати аналізів,
                        простежити прогрес лікування</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Перегляньте відгуки які залишили інші пацієнти</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Відгуки</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">Напишіть власний відгук про вашого лікаря</div>
                </div>
            </div>
        </div>
    </div>
</div>