<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="dashboardUser">

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-calendar fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Налаштуйте свій розклад роботи</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a th:href="@{/schedule}">Розклад</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">тут ви можете побачити записи пацієнтів на прийом, додати або відмінити запис </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-users fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">перегляньте список пацієнтів</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a th:href="@{/patients}">Пацієнти</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">ви можете керувати активацією акаунтів, знайти потрібного пацієнта,
                        переглянути його профіль</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa ti-email fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Пацієнти можуть залишати запитання</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Запитання</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">Перегляньте і дайте відповідь на запитання</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-files-o fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">тут ви можете додати статтю</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a th:href="@{/articles/add}">Створити статтю</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">Додайте нову статтю до списку навних на сайті статтей</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-comments-o fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Пацієнти можуть залишати відгуки про лікаря</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Відгуки</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">Перегляньте відгуки пацієнтів</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-phone-square fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Адреса роботи і номер телефону лікаря</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Контакти</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">тут ви можете оновити контактну інформацію</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-file-text fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Ви можете створити список рекомендованих статтей</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a th:href="@{/articles}">Статті</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted"> тут ви можете переглянути статті</div>
                </div>
            </div>
        </div><br>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="fa fa-question-circle fa-3x"></i>
                        </div>
                        <div class="float-right">
                            <p class="card-text text-right">Найчастіше задають такі питання</p>
                            <div class="container-fluid">
                                <h3 class="card-title font-weight-bold text-right mb-0">
                                    <a href="">Питання</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="text-muted">додайте питання і відповідь, які зможуть бачити всі пацієнти</div>
                </div>
            </div>
        </div>

    </div>
</div>