<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="dashboardUser">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Про сайт</strong>
                    </div>

                    <div class="card-body">
                        Медичний кабінет лікаря-гастроентеролога створений для людей, які потребують консультації
                        даного спеціаліста. На сайті надана можливість створити Персональний кабінет пацієнта, отримати
                        інформацію про дні та години прийому лікаря, можна записатись на прийом лікаря,
                        а також прочитати корисні поради по різних захворюваннях ШКТ.
                        Пацієнт буде мати онлайн-доступ до електронної медичної картки.
                        У Персональному кабінеті можна буде, не виходячи з дому, дізнатися результати своїх аналізів, ознайомитись з
                        висновками лікаря, призначеним лікуванням тощо.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>