<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="dashboardUser">

    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Про сайт</strong>
                    </div>

                    <div class="card-body">
                        Медичний кабінет лікаря-гастроентеролога Патратій Марини Володимирівни створений для людей,
                        які потребують консультації даного спеціаліста.
                        На сайті надана можливість зареєструватись і отримати Персональний кабінет
                        пацієнта, інформацію про дні та години прийому лікаря, можна записатись на прийом лікаря,
                        а також знайти корисні статті по лікуванню різних захворювань ШКТ.
                        Пацієнт буде мати онлайн-доступ до електронної медичної картки.
                        У Персональному кабінеті можна буде, не виходячи з дому, дізнатися результати своїх аналізів,
                        ознайомитись з висновками лікаря, призначеним лікуванням тощо.

                        <div class="vue-lists">
                            Незареєстрованому користувачу доступний такий функціонал сайту:
                            <ul>
                                <li>Головна сторінка</li>
                                <li>Відгуки - прочитати відгуки пацієнтів про лікаря</li>
                                <li>Контакти - знайти контактну інформацію лікаря</li>
                                <li>Статті - знайти корисні статті, які лікар рекомендує до прочитання
                                </li>
                                <li>Поширені питання - дізнатись відповіді на найпоширеніші запитання</li>
                            </ul>
                            Після реєстрації у системі Вам стане додатково доступний такий функціонал:
                            <ul>
                                <li>Розклад лікаря - записатись на прийом до лікаря у зручний для Вас
                                    час
                                </li>
                                <li>Мої візити - переглянути свої візити до лікаря</li>
                                <li>Задати запитання - написати лікарю особисте повідомленя</li>
                                <li>Мої дані - переглянути персональну інформацію, редагувати її, зберегти
                                    аналізи, переглянути історію лікування та оглядів
                                </li>
                                <li>Змінити пароль - оновити пароль до власного кабінету</li>
                            </ul>
                            ІНСТРУКЦІЯ ПО СТВОРЕННЮ ПЕРСОНАЛЬНОГО КАБІНЕТУ ПАЦІЄНТА
                            <ol>
                                <li>Вам потрібно перейти на сторінку реєстрації за посиланням "Зареєструватись",
                                    що знаходиться в правому верхньому кутку сторінки.
                                </li>
                                <li>Для реєстрації Персонального кабінету необхідно вказати дійсну адресу
                                    Вашої електронної пошти. Також Вам необхідно вказати свої персональні дані у формі
                                    для реєстрації
                                </li>
                                <li>На вказану адресу буде надіслано повідомлення з посиланням для підтверждення
                                    реєстрації та активації Персонального кабінету
                                </li>
                                <li>Після підтвердження реєстрації Ви можете зайти в Персональний кабінет, перейшовши за посиланням,
                                    вказаним на сторінці підтвердження реєстрації,
                                    або з сайту, перейшовши за посиланням «Увійти» в правому верхньому кутку екрану.
                                </li>
                                <li>Далі Вам необхідно буде ввести адресу електронної пошти, і пароль,
                                    які Ви вказали при реєстрації.
                                </li>
                            </ol>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>