<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Doctor`s Office</title>
    <meta name="description" content="Doctor`s Office">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" id="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="shortcut icon" th:href="@{/images/people.png}">

    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/assets/scss/style.css}">
    <link th:href="@{/assets/css/lib/vector-map/jqvmap.min.css}" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/app/css/style.css}">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <style>
        .background {
            height: 900px;
            background: url("/images/DS.png") no-repeat;
        }
        .dropdown-menu{
            border: 1px solid rgba(0, 0, 0, .8);
            border-radius: .25rem
        }

    </style>

    <th:block layout:fragment="links">

    </th:block>
</head>
<body>

<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            <a class="navbar-brand hidden" th:href="@{/}"><img th:src="@{/images/logo2.png}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <!--user menu-->

            <ul class="nav navbar-nav" sec:authorize="isAnonymous()">

                <li class="active">
                    <a th:href="@{/}"> <i class="menu-icon fa fa-home"></i>Головна сторінка </a>
                </li>

                <h3 class="menu-title">Інформація</h3><!-- /.menu-title -->
                <li>
                    <a href=""> <i class="menu-icon fa fa-comments-o"></i>Відгуки </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-info-circle"></i>Контакти </a>
                </li>
                <li>
                    <a th:href="@{/articles}"> <i class="menu-icon fa fa-file-text"></i>Статті </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-question-circle"></i>Поширені питання </a>
                </li>
            </ul>

            <ul class="nav navbar-nav" sec:authorize="hasAuthority('USER')">

                <li class="active">
                    <a th:href="@{/}"> <i class="menu-icon fa fa-home"></i>Головна сторінка </a>
                </li>

                <h3 class="menu-title">Візити</h3><!-- /.menu-title -->
                <li>
                    <a th:href="@{/schedule}"> <i class="menu-icon fa fa-calendar"></i>Розклад лікаря </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-clock-o"></i>Мої візити </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa ti-email"></i>Задати запитання </a>
                </li>

                <h3 class="menu-title">Профіль</h3><!-- /.menu-title -->
                <li>
                    <a th:href="@{/profile}"> <i class="menu-icon fa fa-id-card-o"></i>Мої дані </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-key"></i>Змінити пароль </a>
                </li>

                <h3 class="menu-title">Інформація</h3><!-- /.menu-title -->
                <li>
                    <a href=""> <i class="menu-icon fa fa-comments-o"></i>Відгуки </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-info-circle"></i>Контакти </a>
                </li>
                <li>
                    <a th:href="@{/articles}"> <i class="menu-icon fa fa-file-text"></i>Статті </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-question-circle"></i>Поширені питання </a>
                </li>
            </ul>

            <!--admin menu-->
            <ul class="nav navbar-nav" sec:authorize="hasAuthority('ADMIN')">

                <li class="active">
                    <a th:href="@{/}"> <i class="menu-icon fa fa-home"></i>Головна сторінка </a>
                </li>

                <h3 class="menu-title">Меню</h3><!-- /.menu-title -->
                <li>
                    <a th:href="@{/schedule}"> <i class="menu-icon fa fa-calendar"></i>Мій розклад </a>
                </li>
                <li>
                    <a th:href="@{/patients}"> <i class="menu-icon fa fa-list"></i>Список пацієнтів </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa ti-email"></i>Запитання пацієнтів</a>
                </li>

                <h3 class="menu-title">Налаштування</h3><!-- /.menu-title -->
                <li>
                    <a th:href="@{/articles/add}"> <i class="menu-icon fa fa-pencil-square-o"></i>Додати статтю </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-key"></i>Змінити пароль </a>
                </li>

                <h3 class="menu-title">Інформація</h3><!-- /.menu-title -->
                <li>
                    <a href=""> <i class="menu-icon fa fa-comments-o"></i>Відгуки </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-info-circle"></i>Контакти </a>
                </li>
                <li>
                    <a th:href="@{/articles}"> <i class="menu-icon fa fa-file-text"></i>Статті </a>
                </li>
                <li>
                    <a href=""> <i class="menu-icon fa fa-question-circle"></i>Поширені питання </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-6 col-md-6 col-lg-8">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa-tasks"></i></a>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4" sec:authorize="isAnonymous()">
                <a class="btn btn-outline-info" th:href="@{/login}"> Увійти </a>
                <a class="btn btn-outline-success" th:href="@{/registration}"> Зареєструватись </a>
            </div>

            <div>
                <div class="user-area dropdown float-right" sec:authorize="isAuthenticated()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" th:src="@{/images/user.png}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" th:href="@{/profile}" sec:authorize="hasAuthority('USER')">
                            <i class="fa fa-user"></i> Профіль</a>

                        <a class="nav-link" href="#"><i class="fa ti-email"></i> Повідомлення
                            <!--<span class="count">2</span>-->
                        </a>

                        <a class="nav-link" th:href="@{/logout}"><i class="fa fa-power-off"></i> Вийти</a>
                    </div>
                </div>
            </div>

        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="background">
        <div class="breadcrumbs">
            <div class="col-sm-4 col-md-12 col-lg-12">
                <div class="page-header float-left">
                    <th:block layout:fragment="title">
                        <div class="page-title">
                            <h1>Гастроентерологічне відділення Чернівецької обласної лікарні</h1>
                        </div>
                    </th:block>
                </div>
            </div>

        </div>

        <div class="content mt-3">
            <th:block layout:fragment="body">
                <div sec:authorize="hasAuthority('USER')">
                    <div layout:replace="~{fragments/dashboard/dashboardUser}"></div>
                </div>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <div layout:replace="~{fragments/dashboard/dashboardAdmin}"></div>
                </div>
                <div sec:authorize="(isAnonymous())">
                    <div layout:replace="~{fragments/dashboard/dashboardAnonymous}"></div>
                </div>
            </th:block>
        </div> <!-- .content -->
    </div>
</div><!-- /#right-panel -->

<!-- Right Panel -->

<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/app/js/interceptor.js}"></script>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
