<th:block
          xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:layout="http://www.w3.org/1999/xhtml"
          layout:decorate="~{layouts/layoutDashboard}"
          xmlns:sec="http://www.w3.org/1999/xhtml"
>

    <th:block layout:fragment="title">

        <h2 class="card-title mb-4">Персональна інформація лікаря</h2>
        <button id="createChapter" class="btn btn-success" style="margin-bottom: 20px"
                data-toggle="modal" data-target="#chapter-create-modal"
                sec:authorize="hasAuthority('ADMIN')">
            Створити розділ
        </button>


    </th:block>

    <th:block layout:fragment="body">

        <div class="col-md-12">

                    <div>
                        <div class="row display-flex">
                            <div th:each="item : ${chapters}"
                                 th:unless="${#lists.isEmpty(chapters)}"
                                 class="col-md-12">
                                <div class="card border-primary">
                                    <div class="card-header text-white bg-primary">
                                        <strong class='card-title'>
                                            <span th:text="${item.title}"></span>

                                            <button id="updateChapter" class="btn btn-success float-right"
                                                    th:onclick="'showUpdateChapterModal(\'' + ${item.id} + '\');'"
                                                    sec:authorize="hasAuthority('ADMIN')">
                                                Редагувати
                                            </button>
                                            <button id="deleteChapter" class="btn btn-outline-danger float-right"
                                                    th:onclick="'showDeleteChapterModal(\'' + ${item.id} + '\');'"
                                                    sec:authorize="hasAuthority('ADMIN')">
                                                Видалити
                                            </button>
                                        </strong>
                                    </div>
                                    <div class="card-body ">
                                        <p class="card-text" th:text="${item.text}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>

        <div class="modal fade" id="chapter-create-modal" tabindex="-1" role="dialog" aria-labelledby=""
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Створити блок </h5>
                    </div>
                    <form th:object="${chapter}" method="POST" th:action="@{/about-doctor}">
                        <div class="modal-body">
                            <input type="hidden" name="id" id="chapter-id-create">
                            <label>Назва блоку
                                <input type="text" name="title" id="chapter-title-create">
                            </label>
                            <p>Текст блоку
                                <textarea id="chapter-text-create" name="text" cols="50"
                                          rows="10"></textarea>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Зберегти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="chapter-update-modal" tabindex="-1" role="dialog" aria-labelledby=""
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Редагувати блок </h5>
                    </div>
                    <form th:object="${chapter}" method="POST" th:action="@{/about-doctor/update}">
                        <div class="modal-body">
                            <input type="hidden" name="id" id="chapter-id-update">
                            <label>Назва блоку
                                <input type="text" name="title" id="chapter-title-update">
                            </label>
                            <p>Текст блоку
                                <textarea id="chapter-text-update" name="text" cols="50"
                                          rows="10"></textarea>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Зберегти
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="chapter-delete-modal" tabindex="-1" role="dialog" aria-labelledby=""
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Видалити блок </h5>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" name="id" id="chapter-id-delete">
                        Ви справді хочете видалити блок?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="chapter-delete-submit" class="btn btn-primary">Видалити
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </th:block>

    <th:block layout:fragment="scripts">

        <script th:inline="javascript">
            /*<![CDATA[*/

            var status = /*[[${status}]]*/ 'failure';

            /*]]>*/
        </script>
        <script charset="UTF-8" type="text/javascript" th:src="@{/assets/js/sweetalert2.js}"></script>
        <script charset="UTF-8" type="text/javascript" th:src="@{/app/js/alert.js}"></script>
        <script charset="UTF-8" type="text/javascript" th:src="@{/app/js/about-doctor.js}"></script>

    </th:block>

</th:block>