<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="userProfile">

    <div class="animated fadeIn" style="margin-top: 5px">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center mt-2 mb-1">Завантажити результати аналізів</h5>

                            <form method="POST" enctype="multipart/form-data" th:action="@{/uploadFiles}">

                                <p><input id="file-input"
                                          type="file"
                                          name="uploadingFiles"
                                          multiple required></p>

                                <p id="file-info"></p>

                                <p>
                                    <button type="submit" id="file-upload-submit" class="btn btn-primary">Завантажити
                                    </button>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Ваші файли</strong>
                    </div>

                    <div class="card-body">
                        <div id="filesForDownload">
                            <div th:each="item : ${analyses}"
                                 th:unless="${#lists.isEmpty(analyses)}"
                                class="card">
                                <div class="card-header">
                                    <strong class='card-title'>
                                        <span th:text="${item.fileName}"></span>
                                        <p class='bg-primary text-light'>
                                            Дата: <span th:text="${item.date}"></span>
                                        </p>
                                        <a class='btn btn-success float-right' th:href="${item.fileDownloadUri}" >Скачати</a>
                                    </strong>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>