<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:fragment="userProfile"
     xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="animated fadeIn" style="margin-top: 5px">

        <div class="row">


            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Історія лікування</strong>
                    </div>

                    <div class="card-body">
                        <div id="therapies">
                            <div th:each="item : ${therapies}"
                                 th:unless="${#lists.isEmpty(therapies)}"
                                 class="card">
                                <div class="card-header">
                                    <strong class='card-title'>
                                        <span class='btn btn-info'>
                                            Дата: <span th:text="${#temporals.format(item.createdAt, 'dd-MMM-yyyy')}"></span>
                                        </span>
                                        <button id="updateTherapy" class="btn btn-success"
                                                th:onclick="'showUpdateTherapyModal(\'' + ${item.id} + '\');'"
                                                sec:authorize="hasAuthority('ADMIN')">
                                            Редагувати
                                        </button>
                                    </strong>
                                </div>
                                <div class="card-body">
                                    <p th:text="${item.text}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6" sec:authorize="hasAuthority('ADMIN')">
                <div class="card">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center mt-2 mb-1">Додати новий запис про лікування</h5>

                            <form id="therapy-form" th:object="${therapy}" method="post" th:action="@{/profile/therapy}">
                                <input type="hidden" name="patient" th:value="${userUpdatable.id}">

                                <p><textarea id="text" name="text" th:field="*{text}" cols="50" rows="10"></textarea></p>

                                <p class="alert alert-danger"
                                   th:if="${#fields.hasErrors('text')}"
                                   th:errors="*{text}"></p>
                                <p>
                                    <button type="submit" id="therapy-submit" class="btn btn-primary">Зберегти
                                    </button>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <div class="modal fade" id="therapy-update-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редагувати терапію </h5>
                </div>
                <form th:object="${therapy}" method="POST" th:action="@{/profile/therapy/update}">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="therapy-id-update">
                        <input type="hidden" name="patient" id="therapy-patient-update">

                        <p><textarea id="therapy-text-update" name="text" cols="50" rows="10"></textarea></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="therapy-update-submit" class="btn btn-primary">Зберегти
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>