<th:block layout:decorate="~{layouts/layoutAuthentication}"
          xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:fragment="body">

        <div class="d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo">
                        <a th:href="@{/}">
                            <img class="align-content" th:src="@{/images/logo.png}" alt="Doctors Office">
                        </a>
                    </div>
                    <div class="login-form">
                        <h2 class="text-center"><i class="fa fa-lock "></i>  Забули пароль?</h2>
                        <p>Вкажіть електронну пошту</p>

                        <div th:if="${param.success}">
                            <div class="alert alert-info">
                                Ви успішно запросиил відновленя паролю! Очікуйте листа на пошті.
                            </div>
                        </div>
                        <form  th:action="@{/forgot-password}" th:object="${forgotPasswordForm}" class="form"  method="post">

                            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                <div class="input-group">
                                    <input id="email"
                                           placeholder="email address"
                                           class="form-control"
                                           type="email"
                                           th:field="*{email}">
                                </div>
                                <p class="alert alert-danger"
                                   th:each="error : ${#fields.errors('email')}"
                                   th:text="${error}">Validation error</p>
                            </div>


                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-flat m-b-15">Надіслати</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </th:block>

</th:block>