<th:block layout:decorate="~{layouts/layoutAuthentication}"
          xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block layout:fragment="body">

        <div class="d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo">
                        <a th:href="@{/}">
                            <img class="align-content" th:src="@{/images/logo.png}" alt="Doctors Office">
                        </a>
                    </div>
                    <div class="login-form">
                        <h2 class="text-center"><i class="fa fa-lock "></i> Відновлення паролю</h2>
                        <p>Вкажіть новий пароль двічі</p>


                        <div th:if="${error}">
                            <div class="alert alert-danger">
                                <span th:text="${error}"></span>
                            </div>
                        </div>

                        <form th:action="@{/reset-password}" th:object="${passwordResetForm}" method="post">

                            <p class="error-message"
                               th:if="${#fields.hasGlobalErrors()}"
                               th:each="error : ${#fields.errors('global')}"
                               th:text="${error}">Validation error</p>

                            <input type="hidden" name="token" th:value="${token}"/>

                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                <div class="input-group">

                                    <input id="password.uniquePassword"
                                           class="form-control"
                                           placeholder="password"
                                           type="password"
                                           th:field="*{password.uniquePassword}"/>
                                </div>
                                <p class="alert alert-danger"
                                   th:each="error: ${#fields.errors('password.uniquePassword')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('password.confirmPassword')}? 'has-error':''">
                                <div class="input-group">

                                    <input id="password.confirmPassword"
                                           class="form-control"
                                           placeholder="Confirm password"
                                           type="password"
                                           th:field="*{password.confirmPassword}"/>
                                </div>
                                <p class="alert alert-danger"
                                   th:each="error: ${#fields.errors('password.confirmPassword')}"
                                   th:text="${error}">Validation error</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Відправити</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </th:block>

</th:block>